{% assign certifications = site.data.data.certifications %} {% if certifications %}
<div class="certifications-container container-block">

  <h2 class="container-block-title">
    {{ certifications.title }}
  </h2>


  <ul class="list-unstyled interests-list">
    {% for certifications in certifications.list %}
      <li class="cert-title">
          <a
                  href="{{ certifications.credentialurl }}"
                  target="_blank"
                  rel="noreferrer nofollow noopener"
          ><u>{{ certifications.name }} </u>
          </a>
      </li>
    {% endfor %}
  </ul>


{% endif %}
</div>